body {
    background-color: black;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.canvas {
    margin-top: 20px;
    width: 350px;
    height: 500px;
    background-color: black;
    border: 2px solid white;
    border-radius: 2px;
}

.sliders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 2px;
    width: 350px;
    color: white;
}

.labels {
    padding: 0 5px 0 5px;
}

.slidercontainer {
    display: flex;
    flex-direction: row;
    margin: 15px 15px 15px 15px;
    padding: 0 10px 0 10px;
}


/* The slider itself */

.slider {
    -webkit-appearance: none;
    margin-right: 20px;
    width: 100px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


/* Mouse-over effects */

.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff0e0e;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff0e0e;
    cursor: pointer;
}